@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: white;
    font-size: 18px;
    font-weight: normal;
    background-color: black;
    padding: 7px;
    border-radius: 25px;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}

body {
    background-color: rgb(172, 3, 3);
}
